
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ***** this is a header section ***** */
.header
{
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  text-align: center;
}
.header ul{
  display: inline-flex;
  list-style: none;
  color:white;
}

.header ul li{
      width: 120px;
      margin: 15px;
      padding: 15px;
}
.header ul li a{
  text-decoration: none;
  color: white;
}
.active, .header ul li:hover{
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  border-radius: 3px;
}
.header .fa{
  margin-right: 8px;
}
.sub-menu-1
{
  display: none;
}
.header ul li:hover .sub-menu-1
{
  display: block;
  position: absolute;
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  margin-top: 15px;
  margin-left: -15px;
}
.header ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}
.header ul li:hover .sub-menu-1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.header ul li:hover .sub-menu-1 ul li:last-child
{
  border-bottom: none;
}
.header ul li:hover .sub-menu-1 ul li a:hover{
  color:#b2ff00 ;
}
.fa angle-right{
  float: right;
}
.sub-menu-2
{
  display: none;
}
.hover-me:hover .sub-menu-2
{
  position: absolute;
  display: block;
  margin-top: -40;
  margin-left: 140px;
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}

/* *****  This is a background section  ***** */

.background1{
  width: 100%;
  position: relative;
}
.background1 img{
  width: 100%;
}
.background2{
  color: white;
  position: absolute;
  top: 70%;
  left: 10%;
}
.background2 h1{
  font-family: Palace Script MT;
  font-size: 80px;
}
.background2 button{
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
  font-size: 30px;
  border-radius: 40px;
  padding: 30px;
  margin: 20px;
  color:  rgba(4,189,228,1);
  border: 2px solid burlywood;
  cursor: pointer;
}
.background2 button:hover{
  color: antiquewhite;
  
}

/* *****  This is a Enroll section  ***** */
.enroll1{
  text-align: center;
  width: 40%;
  margin-top: 15%;
  margin-left: 5%;
  display: inline-block;
}
.enroll1 h2{
  font-family: Edwardian Script ITC;
  font-size: 40px;
}
.enroll .enroll1 button{
  background-image: linear-gradient(to right, #ff512f, #f09819);
  font-size: 30px;
  border-radius: 40px;
  padding: 30px;
  margin: 20px;
  color:   #ff9966;
  border: 2px solid burlywood;
  cursor: pointer;
}
.enroll .enroll1 button:hover{
  color: antiquewhite;
}
.enroll .enroll2{
  width: 30%;
  position: relative;
  float: right;
  margin-top: 10%;
 
}
.enroll .enroll2 .enroll3{
  width: 50%;
  height: 250px;
  border : 3px double blue;
  border-radius: 80%;
  background: linear-gradient(to right, orange, yellow);
  position: absolute;
  right : 400px;
  z-index: 1;
  text-align: center;
 
}
.enroll .enroll2 .enroll3 h2{
  padding-top: 25%;
}
.enroll .enroll2 .enroll4{
  width: 50%;
  height: 250px;
  border : 3px double blue;
  border-radius: 80%;
  background: linear-gradient(to right, orange, yellow);
  position: absolute;
  right : 230px;
   z-index: 2;
   text-align: center;
   
  
}
.enroll .enroll2 .enroll4 h2{
  padding-top: 25%;
}
.enroll .enroll2 .enroll5{
  width: 50%;
  height: 250px;
  border : 3px double blue;
  border-radius: 80%;
  background: linear-gradient(to right, orange, yellow);
  position: absolute;
  right :  320px;
   z-index: 3;
   margin-top: 25%;
   text-align: center;
   
  
}
.enroll .enroll2 .enroll5 h2{
  padding-top: 35%;
}

/* *****  This is a Courses section  ***** */
.courses::after {
  content: "";
  clear: both;
  display: table;

}
.courses .courses1{
  float: left;
  width: 33.33%;
  padding: 5px;
}
.courses .courses1 img{
  width:100%;
}
.courses1 h3{
  text-align: center;
  margin: 5%;
}
.courses1{
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
}